@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*{
    font-family: "Hammersmith One", sans-serif;
}
body{
    background-color: #F8cbbf;
}
:root{
    --main_theme:#451f15;
    --main_theme:#eedfd8;
}
.navbar h1{
    font-size: 60px;
    color: #451f15;
}
.navbar ul{
    font-size: 30px;
    list-style: none;
    color: #451f15;
}
.navbar ul a{
    text-decoration: none;

}
/* From Uiverse.io by joe-watson-sbf */ 
a {
    font-size: 10px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #eedfd8;
    transition: 0.5s ease;
  }
  
  a:hover {
    color: #eedfd8;
    transition-delay: 0.5s;
  }
  
  a:hover::before {
    width: 100%;
  }
  
  a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #eedfd8;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  a:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: #451f15;
  }
  #home .container{
    border: 2px solid #451f15;
    margin-top: 50px;
    border-radius: 20px;
    padding: 60px;
  }
  #home img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
  }
  #home h1::after{
    content: " ";
    height: 400px;
    width: 400px;
    border: 2px solid #451f15;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    left: 8%;
    top: 31.5%;
  }
#home p{
    font-size: 22px;
    margin-top: 30px;
}
.text{
    color: #451f15;
}
#info h2{
    background-color: #451f15;
    font-size: 42px;
    border-radius: 50px;
    color: #eedfd8;
    display: inline;
    /* width: 800px; */
    padding: 5px 20px;
}
#info .container{
    margin-top: 50px;
}
#info ul{
    font-size: 26px;
}
#edu h2{
  background-color: #451f15;
  font-size: 42px;
  border-radius: 50px;
  color: #eedfd8;
  display: inline;
  padding: 5px 20px;
}
#edu .container{
  margin-top: 50px;
}
#edu p{
  font-size: 26px;
}
#skill h2{
  background-color: #451f15;
  font-size: 42px;
  border-radius: 50px;
  color: #eedfd8;
  display: inline;
  padding: 5px 20px;
}
#skill ul{
  font-size: 26px;
}
footer{
  background-color: #451f15;
}
footer .container{
  padding-top: 50px;
}
footer h2{
  font-size: 42px;
  color: #eedfd8;
  display: inline;
  padding: 5px 20px;
  border-bottom: 2px solid #eedfd8;
}
footer h4 {
  margin-top: 30px;
  padding: 20px;
  display: inline;
  font-size: 26px;
  color: #eedfd8;
}
footer i{
  font-size: 60px;
  color: #eedfd8;
  margin-top: 30px;
}
